---
layout: page
title: Home
---
{% include JB/setup %}

{% for post in paginator.posts %}
<article class="post">
	{% include themes/metro/postbody.html %}
	<footer>
		{% include themes/metro/postmeta.html %}
	</footer>
</article>
{% endfor %}
<footer id="site-footer">
	<div id="site-footer-content">
		{% if paginator.previous_page != nil or paginator.next_page != nil %}
			{% if paginator.previous_page == 1 %}<a class="btn" href="/">« Newer Entries</a>{% elsif paginator.previous_page %}<a href="/page{{ paginator.previous_page }}">« Newer Entries</a>{% endif %}
			{% if paginator.previous_page != nil and paginator.next_page != nil %}		
			|
			{% endif %}
			{% if paginator.next_page == 1 %}<a class="btn" href="/">Older Entries</a>{% elsif paginator.next_page %}<a href="/page{{ paginator.next_page }}">Older Entries »</a>{% endif %}
		{% endif %}
	</div>
</footer>