h1#site-title { 
	font-size: 48pt;
	font-weight: normal;
}

h1#site-title em { 
	font-style: normal;
	color: #393; 
}

a:hover { text-decoration: none; }

div#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 325px;
	padding: 0.5em;
}

div#body {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	padding: 2em;
	overflow: auto;
	margin-left: 325px;
}

div.social { margin-top: 0.25em; }
pre code { border: none; }

.linear { display: inline; }

ul.list-linear {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

	ul.list-linear li {
		display: inline;
	}

nav {
}

	nav ul {
		list-style-type: none;
		display: inline;
		padding: 0;
		margin: 0;
	}

		nav ul li {
			display: inline;
			font-size: 20pt;
			padding: 0.25em;
			margin: 0;
		}

		nav ul li:first-child {
			padding-left: 0;
		}

		nav ul li a {
			color: white;
		}

			nav ul li a:hover {
				color: #f09609;
			}