body {
	padding-bottom: 20px;
	font-family:"Segoe UI","Segoe WP","Helvetica Neue",'RobotoRegular',sans-serif;
}

code { padding-left: 0; }

h1#site-title { 
	font-size: 48pt;
	font-weight: normal;
}

h1#site-title em { 
	font-style: normal;
	color: #393; 
}

img.float-img {
	float: left;
	margin-right: 10px;
}

div#about-me {
	position: absolute;
	bottom: 10px;
}

a:hover { text-decoration: none; }

div#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 325px;
	padding: 0.5em;
}

div#body {
	position: fixed;
	top: 0;
	bottom: 20px;
	right: 0;
	left: 0;
	padding: 2em;
	overflow: auto;
	overflow-x: hidden;
	margin-left: 325px;
}

div#site-footer-content {
	float: right;
	font-size: 14pt;
}

div.social { margin-top: 0.25em; }
pre code { border: none; }

.linear { display: inline; }

ul.list-linear {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

	ul.list-linear li {
		display: inline;
	}

nav {
}

	nav ul {
		list-style-type: none;
		display: inline;
		padding: 0;
		margin: 0;
	}

		nav ul li {
			display: inline;
			font-size: 20pt;
			margin: 0;
		}

		nav ul li:first-child {
			padding-left: 0;
		}

		nav ul li a {
			color: white;
		}

			nav ul li a:hover {
				color: #f09609;
			}

form ul {
	margin: 0;
	padding: 0;
}

	form ul li {
		list-style-type: none;
	}

	form ul.buttonset li {
		display: inline;
	}

	form ul#sizelist li {
		display: inline-block;
		margin: 0.25em;
	}

form input[type='text'], form input[type='password'] {
	font-family:"Segoe UI","Segoe WP","Helvetica Neue",'RobotoRegular',sans-serif;
	font-size: 20pt;
	width: 100%;
}

form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

/* jQuery UI Overrides */
.ui-state-default { background: none; border: solid 2px black; color: black; font-weight: normal; }
.ui-state-active { background-color: #1ba1e2; color: white; }
.ui-state-hover { background-color: #f09609; color: white; }

.ui-buttonset .ui-button { margin-right: -0.4em;}

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -khtml-border-top-left-radius: 0; border-top-left-radius: 0; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -khtml-border-top-right-radius: 0; border-top-right-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -khtml-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -khtml-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

.lg-button { width: 100%; font-size: 16pt; margin-top: 0.5em; }
.med-button { width: 120px; }
.sm-button { width: 60px; }

/* iPad */
@media only screen and (max-width: 1024px) {
	h1#site-title {
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
		-o-transform: rotate(90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
		width: 50px;
	}

	nav {
		position: fixed;
		bottom: 0;
		height: auto;
	}

	nav ul li {
		display: block;
		padding: 0;
	}

	.tile.one {
		width: 32px;
		height: 32px;
	}

	div#sidebar {
		width: 50px;
	}

	div#body {
		margin-left: 50px;
		padding-top: 0;
	}

	div#about-me { display: none; }
}

@media only screen and (max-width: 480px) {
	form {
		text-align: center;
	}

	div.post-body { line-height: 1.5em; }
	div.post-body h3 { line-height: 1.5em; }

	div#sidebar {
		position: static;
		padding: 0;
		width: auto;
		text-align: center;
	}

	h1#site-title {
		-webkit-transform:none;
		-moz-transform:none;
		-o-transform: none;
		font-size: 36pt;
		width: auto;
	}

	h2 { font-size: 22pt; }

	article.post h2 { text-align: center; }

	div#body {
		position: static;
		margin-left: 0;
		margin-top: 0.5em;
		padding: 0;
	}

	nav {
		position: static;
	}

	pre { overflow-x: scroll; }

	.tilerow {
		float: none;
	}

	.tile {
		float: none;
		width: auto;
		height: auto;
	}

	nav {
	}

		nav ul li {
			display: inline;
		}

			nav ul li h3 {
				display: inline;
			}
}

@media only screen and (max-width: 320px) {
	.optional { display:none; }
}